body {
  font-weight: 200;
  font-size: 16px;
}

a {
  color: white;
  text-decoration: none;
}

a:focus,
a:hover {
  font-weight: bold;
  color: white;
  text-decoration: none;
}
.table-row {
  width: 250px !important;
}
.list {
  color: #fff;
  list-style: none;
  padding-left: 10;
}

.header {
  background-color: #e8e6e4;
}

.header-col {
  padding: 0;
}

.logo {
  width: 200px;
  margin: 10px;
}

.sidebar {
  padding-top: 20px;
  color: white;
  background-color: #f36d0f;
  min-height: 100vh;
}

.btn-add {
  padding: 20px 15px;
}

.btn-house {
  margin-right: 5px;
}

.view-link {
  color: inherit;
}

/* Start Form Styles */
.errorMsg {
  color: red;
}
/* End Form Styles */

/* Start Login Form Styles */

.card-container.card {
  max-width: 350px;
  padding: 40px 40px;
  background-color: #faf9fc;
}

.profile-img {
  margin-top: 50px;
  margin-bottom: 100px;
}

.spacer {
  margin-top: 100px;
}

/* End Login Form Styles */
