<!doctype html>
<html lang="en">
<head>
    <title>Hello, world!</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- All CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/CSS/index.css">

</head>
<body>
<div class="main-body">
    <!--Nav bar starts here-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Sunshine Acres</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">

                <li class="nav-item">
                    <a class="nav-link navChild" href="#">Child</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link navHouse" href="#">House</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link navParent" href="#">Parent</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link navAbout" href="#">About</a>
                </li>

            </ul>

        </div>
        <p>
            <a href="#" class="btn btn-info btn-sm">
                <span class="glyphicon glyphicon-log-out"></span> Log out
            </a>
        </p>
    </nav>

    <!--Nav bar ends here-->


    <!--All forms end here-->
    <div class="parentTab center" id="parentTab">

        <button id="addNewParent" type="submit" class="btn btn-primary">Add new parent</button>

        <div>
            <li>Parent 1</li>
            <li>Parent 2</li>
            <li>Parent 3</li>
            <li>Parent 4</li>
            <li>Parent 5</li>

        </div>

    </div>

    <div class="childTab center" id="childTab">
        <button id="addNewChild" type="submit" class="btn btn-primary">Add new Child</button>

        <div>
            <li>Child 1</li>
            <li>Child 2</li>
            <li>Child 3</li>
            <li>Child 4</li>
            <li>Child 5</li>

        </div>


    </div>

    <div class="houseTab center" id="houseTab">
        <button id="addNewHouse" type="submit" class="btn btn-primary">Add new House</button>

        <div>
            <li>house 1</li>
            <li>house 2</li>
            <li>house 3</li>
            <li>house 4</li>
            <li>house 5</li>

        </div>


    </div>

    <div class="aboutTab center" id="aboutTab">

        <div>
            Somethig about
        </div>

    </div>



    <!--Add new house here-->
    <div id="house" class="add-house form-general">
        <div class="form-title text-center">
           <h5> Add New House
           </h5>
        </div>
        <form>
            <div class="form-group">
                <label for="houseName">House Name</label>
                <input id="houseName" class="form-control" type="text" placeholder="enter house name...">

            </div>

            <div class="form-group">
                <label for="houseNumber">Number</label>
                <input id="houseNumber" class="form-control" type="text" placeholder="enter house number...">

            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>



    <!--Add new parent here-->
    <div id="parent" class="add-house form-general">
        <div class="form-title text-center">
            <h5> Add New Parent
            </h5>
        </div>
        <form>
            <div class="form-group">
                <label for="parentFirstName">First Name</label>
                <input id="parentFirstName" class="form-control" type="text" placeholder="Enter first name...">

            </div>

            <div class="form-group">
                <label for="parentSecondName">Last Name</label>
                <input id="parentSecondName" class="form-control" type="text" placeholder="Enter last name...">

            </div>

            <div class="form-group">
                <label for="parentEmail">Email address</label>
                <input type="email" class="form-control" id="parentEmail" aria-describedby="emailHelp" placeholder="Enter email">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>

            <div class="form-group">
                <label for="parentPhone">Phone Number</label>
                <input id="parentPhone" class="form-control" type="text" placeholder="Enter phone number...">
                <small id="phoneHelp" class="form-text text-muted">XXX-XXX-XXXX</small>

            </div>

            <div class="form-group">
                <label for="parentHouseName">House Name</label>
                <input id="parentHouseName" class="form-control" type="text" placeholder="Enter House name...">

            </div>

            <br>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>


    <!--Add new child-->
    <div id="child" class="add-child form-general">
        <div class="" >
            <div class="form-title text-center">
                <h5> Add New Child
                </h5>
            </div>
                <form><div class="form-group">
                    <label for="childFirstName">First Name</label>
                    <input id="childFirstName" class="form-control" type="text" placeholder="Enter First name...">

                </div>

                <div class="form-group">

                    <label for="childSecondName">Last Name</label>
                    <input id="childSecondName" class="form-control" type="text" placeholder="Enter Last name...">

                </div>

                <div class="form-group">

                    <label for="childHouseName">House Name</label>
                    <input id="childHouseName" class="form-control" type="text" placeholder="Enter House name...">

                </div>

                    <div id="field">
                        <div id="field0">
                            <!-- Text input-->
                            <div class="form-group">
                                <label class=" control-label" for="medicineName">Medicine Name</label>
                                <div class="">
                                    <input id="medicineName" name="medicineName" type="text" placeholder="" class="form-control input-md">

                                </div>
                            </div>

                            <!-- Text input-->
                            <div class="form-group">
                                <label class=" control-label" for="medicineDosage">Medicine Dosage</label>
                                <div class="">
                                    <input id="medicineDosage" name="medicineDosage" type="text" placeholder="" class="form-control input-md">

                                </div>
                            </div>

                            <!-- Text input-->
                            <div class="form-group">
                                <label class=" control-label" for="medicinePhysician">Physician</label>
                                <div class="">
                                    <input id="medicinePhysician" name="medicinePhysician" type="text" placeholder="" class="form-control input-md">

                                </div>
                            </div>

                            <!-- Text input-->
                            <div class="form-group">
                                <label class=" control-label" for="medicineReason">Reason</label>
                                <div class="">
                                    <input id="medicineReason" name="medicineReason" type="text" placeholder="" class="form-control input-md">

                                </div>
                            </div>

                            <!-- Text input-->
                            <div class="form-group">
                                <label class=" control-label" for="medicineDateofPrescription">Date of Prescription</label>
                                <div class="">
                                    <input id="medicineDateofPrescription" name="medicineDateofPrescription" type="text" placeholder="" class="form-control input-md">

                                </div>
                            </div>

                            <!-- Text input-->
                            <div class="form-group">
                                <label class=" control-label" for="medicinePhone">Physician's Phone Number</label>
                                <div class="">
                                    <input id="medicinePhone" name="medicinePhone" type="text" placeholder="" class="form-control input-md">

                                </div>
                            </div>
                            <!-- Text input-->
                            <div class="form-group">
                                <label class=" control-label" for="medicineTime">When to take</label>
                                <div class="">
                                    <input id="medicineTime" name="medicineTime" type="text" placeholder="" class="form-control input-md">
                                    <small id="medicineTimeHelp" class="form-text text-muted">Enter "0900+1500+2200" for 9 a.m, 3 p.m and 8 p.m</small>
                                </div>
                            </div>

                        </div>
                    </div>

                    <!-- Button -->
                    <div class="form-group">
                        <div class="">
                            <button id="add-more" name="add-more" class="btn btn-primary">Add More Medicine</button>
                        </div>
                    </div>



            <button type="submit" class="btn btn-primary">Submit</button>
         </form>
        </div>



    </div>



</div>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
<script src="../static/JS/index.js"></script>

</body>
</html>