<!doctype html>
<html lang="en">
<head>
    <title>Hello, world!</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- All CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/CSS/index.css">

</head>
<body>
<div class="main-body">
    <!--Nav bar starts here-->
    <nav class="navbar navbar-expand-lg navbar-light bg-">
        <a class="navbar-brand logo" href="#"><img width=130px src="../static/IMAGES/logo.png"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">

                <li class="nav-item">
                    <a class="nav-link navChild " href="#">Child</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link navHouse" href="#">House</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link navParent " href="#">Parent</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link navAbout" href="#">Report</a>


                </li>

            </ul>

        </div>
        <p>
            <a href="#" class=" log-out btn btn-info btn-sm">
                <span class="glyphicon glyphicon-log-out"></span> Log out
            </a>
        </p>
    </nav>

    <!--Nav bar ends here-->


    <!--All forms starts here-->
    <div class="parentTab center" id="parentTab">
        <br>
        <button id="addNewParent" type="submit" class="btn btn-primary">Add new Parent</button>
        <br>
        <br>
        <div id="parentResults"></div>
        </div>
    </div>

    <div class="childTab center" id="childTab">
        <div id="results"></div>
        <br>
        <button id="addNewChild" type="submit" class="btn btn-primary">Add new Child</button>

        <div>
            <br>
            <div id="childrenResults"></div>



        </div>


    </div>

    <div class="houseTab center" id="houseTab">
        <br>
        <button id="addNewHouse" type="submit" class="btn btn-primary">Add new House</button>

        <div>
            <br>
            <div class="card card-inverse card-primary mb-3 text-left">
                <div class="card-block">
                    <blockquote class="card-blockquote">

                        <p>Dank House</p>
                    </blockquote>
                </div>
            </div>

            <div class="card card-inverse card-primary mb-3 text-left">
                <div class="card-block">
                    <blockquote class="card-blockquote">

                        <p>Stark House</p>
                    </blockquote>
                </div>
            </div>



            <div class="card card-inverse card-primary mb-3 text-left">
                        <div class="card-block">
                            <blockquote class="card-blockquote">

                                <p>Doctor House</p>
                            </blockquote>
                        </div>
                    </div>



            </div>

        </div>


    </div>

    <div class="aboutTab center" id="aboutTab">

        <div>
            <form name="reportDate" class="report" >
                <input id="start-date" type=date step=1 min=2017-01-01>
                <input id="end-date" type=date step=1 min=2017-01-01>
                <button type="submit" class="btn btn-primary">Generate Report</button>
            </form>
        </div>

    </div>



    <!--Add new house here-->
    <div id="house" class="add-house form-general">
        <div class="form-title text-center">
           <h5> Add New House
           </h5>
        </div>
        <form name="houseForm"  action="https://sunshine-acres.herokuapp.com/addHouse" method="post">
            <div class="form-group">
                <label for="houseName">House Name</label>
                <input id="houseName" name="house_name" class="form-control" type="text" placeholder="">

            </div>

            <div class="form-group">
                <label for="houseNumber">Address</label>
                <input id="houseNumber" name="address" class="form-control" type="text" placeholder="">

            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>



    <!--Add new parent here-->
    <div id="parent" class="add-house form-general">
        <div class="form-title text-center">
            <h5> Add New Parent
            </h5>
        </div>
        <form name="parentForm" action="https://sunshine-acres.herokuapp.com/addParent" method="post">
            <div class="form-group">
                <label for="parentFirstName">First Name</label>
                <input id="parentFirstName" name="parentFirstName" class="form-control" type="text" placeholder="">

            </div>

            <div class="form-group">
                <label for="parentLastName">Last Name</label>
                <input id="parentLastName" name="parentLastName" class="form-control" type="text" placeholder="">

            </div>

            <div class="form-group">
                <label for="parentEmail">Email address</label>
                <input type="email" class="form-control" name="parentEmail" id="parentEmail" aria-describedby="emailHelp" placeholder="">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>

            <div class="form-group">
                <label for="parentPhone">Phone Number</label>
                <input id="parentPhone" name="parentPhone" class="form-control" type="text" placeholder="">
                <small id="phoneHelp" class="form-text text-muted">XXX-XXX-XXXX</small>

            </div>

            <div class="form-group">
                <label for="parentUsername">Username</label>
                <input id="parentUsername" name="parentUsername" class="form-control" type="text" placeholder="">

            </div>

            <div class="form-group">
                <label for="parentPassword">Password</label>
                <input id="parentPassword" name="parentPassword" class="form-control" type="password" placeholder="">

            </div>

            <!--<div class="control-group" id="fields">-->
                <!--<label class="control-label" for="field1">Houses</label>-->
                <!--<div class="controls" id="profs">-->
                    <!--<form class="input-append">-->
                        <!--<div id="field"><input autocomplete="off" class="input form-control" id="field1" name="prof1" type="text" placeholder="" data-items="8"/><button id="b1" class="btn add-more-houses" type="button">+</button></div>-->
                    <!--</form>-->
                    <!--<br>-->
                    <!--<small>Press + to add another house</small>-->
                <!--</div>-->
            <!--</div>-->

            <div class="form-group">
                <label for="parentHouse">Parent House</label>
                <input id="parentHouse" name="parentHouse" class="form-control" type="text" placeholder="">
                <small id="phoneHouse" class="form-text text-muted">House1,House2</small>

            </div>


            <br>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>


<!--Add new child-->
<div id="child" class="add-child form-general">
    <div class="" >
        <div class="form-title text-center">
            <h5> Add New Child
            </h5>
        </div>
        <form name="childForm" onsubmit="printValues()"><div class="form-group">
            <label for="childFirstName">First Name</label>
            <input id="childFirstName" class="form-control" type="text" placeholder="">

        </div>

            <div class="form-group">

                <label for="childLastName">Last Name</label>
                <input id="childLastName" class="form-control" type="text" placeholder="">

            </div>



            <div class="form-group">

                <label for="childHouseName">House Name</label>
                <input id="childHouseName" class="form-control" type="text" placeholder="">

            </div>

            <div id="field">
                <div id="field0">
                    <!-- Text input-->
                    <div class="form-group">
                        <label class=" control-label" for="medicineName">Medicine Name</label>
                        <div class="">
                            <input class="1" id="medicineName" name="medicineName" type="text" placeholder="" class="form-control input-md">

                        </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                        <label class=" control-label" for="medicineDosage">Medicine Dosage</label>
                        <div class="">
                            <input class="2" id="medicineDosage" name="medicineDosage" type="text" placeholder="" class="form-control input-md">

                        </div>
                    </div>
                    <div class="form-group">

                        <label class="control-label" for="medicineInstructions">Instructions</label>
                        <div class="">
                        <input class="8" id="medicineInstructions" class="form-control" type="text" placeholder="">
                        </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                        <label class="control-label" for="medicinePhysician">Physician</label>
                        <div class="">
                            <input class="3" id="medicinePhysician" name="medicinePhysician" type="text" placeholder="" class="form-control input-md">

                        </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                        <label class=" control-label" for="medicineReason">Reason</label>
                        <div class="">
                            <input class="4" id="medicineReason" name="medicineReason" type="text" placeholder="" class="form-control input-md">

                        </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                        <label class=" control-label" for="medicineDateofPrescription">Date of Prescription</label>
                        <div class="">
                            <input class="5" id="medicineDateofPrescription" name="medicineDateofPrescription" type="text" placeholder="" class="form-control input-md">

                        </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                        <label class=" control-label" for="medicinePhone">Physician's Phone Number</label>
                        <div class="">
                            <input class="6" id="medicinePhone" name="medicinePhone" type="text" placeholder="" class="form-control input-md">

                        </div>
                    </div>
                    <!-- Text input-->
                    <div class="form-group">
                        <label class=" control-label" for="medicineTime">When to take</label>
                        <div class="">
                            <input class="7" id="medicineTime" name="medicineTime" type="text" placeholder="" class="form-control input-md">
                            <small id="medicineTimeHelp" class="form-text text-muted">Enter "0900+1500+2200" for 9 a.m, 3 p.m and 8 p.m</small>
                        </div>
                    </div>

                </div>
            </div>

            <!-- Button -->
            <div class="form-group">
                <div class="">
                    <button id="add-more" name="add-more" class="btn btn-warning ">Add More Medicine</button>
                </div>
            </div>



            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>



</div>




</div>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

</script><script src="../static/JS/index.js"></script>

</body>
</html>