<!doctype html>
<html lang="en">
<head>
    <title>Hello, world!</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- All CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/CSS/index.css">

</head>
<body>
<div class="main-body">
    <!--Nav bar starts here-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Sunshine Acres</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">

                <li class="nav-item">
                    <a class="nav-link" href="#">House</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Child</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Parent</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>

            </ul>

        </div>
        <p>
            <a href="#" class="btn btn-info btn-sm">
                <span class="glyphicon glyphicon-log-out"></span> Log out
            </a>
        </p>
    </nav>

    <!--Nav bar ends here-->



    <!--Add new house here-->
    <div class="add-house form-general">
        <div class="form-title text-center">
           <h5> Add New House
           </h5>
        </div>
        <form>
            <div class="form-group">
                <label for="houseName">House Name</label>
                <input id="houseName" class="form-control" type="text" placeholder="enter house name...">

            </div>

            <div class="form-group">
                <label for="houseNumber">Number</label>
                <input id="houseNumber" class="form-control" type="text" placeholder="enter house number...">

            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>



    <!--Add new parent here-->
    <div class="add-house form-general">
        <div class="form-title text-center">
            <h5> Add New Parent
            </h5>
        </div>
        <form>
            <div class="form-group">
                <label for="parentFirstName">First Name</label>
                <input id="parentFirstName" class="form-control" type="text" placeholder="Enter first name...">

            </div>

            <div class="form-group">
                <label for="parentSecondName">Last Name</label>
                <input id="parentSecondName" class="form-control" type="text" placeholder="Enter last name...">

            </div>

            <div class="form-group">
                <label for="parentEmail">Email address</label>
                <input type="email" class="form-control" id="parentEmail" aria-describedby="emailHelp" placeholder="Enter email">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>

            <div class="form-group">
                <label for="parentPhone">Phone Number</label>
                <input id="parentPhone" class="form-control" type="text" placeholder="Enter phone number...">
                <small id="phoneHelp" class="form-text text-muted">XXX-XXX-XXXX</small>

            </div>

            <div class="form-group">
                <label for="parentHouseName">House Name</label>
                <input id="parentHouseName" class="form-control" type="text" placeholder="Enter House name...">

            </div>

            <div class="container">
                <div class="row">
                    <input type="hidden" name="count" value="1" />
                    <div class="control-group" id="fields">
                        <label class="control-label" for="field1">Nice Multiple Form Fields</label>
                        <div class="controls" id="profs">
                            <form class="input-append">
                                <div id="field"><input autocomplete="off" class="input" id="field1" name="prof1" type="text" placeholder="Type something" data-items="8"/><button id="b1" class="btn add-more" type="button">+</button></div>
                            </form>
                            <br>
                            <small>Press + to add another form field :)</small>
                        </div>
                    </div>
                </div>
            </div>

            <br>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>


    <!--Add new child here-->
    <div class="add-house form-general">
        <div class="form-title text-center">
            <h5> Add New Child
            </h5>
        </div>
        <form>
            <div class="form-group">
                <label for="childFirstName">First Name</label>
                <input id="childFirstName" class="form-control" type="text" placeholder="Enter Child name...">

            </div>

            <div class="form-group">

                <label for="childSecondName">Last Name</label>
                <input id="childSecondName" class="form-control" type="text" placeholder="Enter Last name...">

            </div>

            <div class="form-group">

                <label for="childHouseName">House Name</label>
                <input id="childHouseName" class="form-control" type="text" placeholder="Enter House name...">

            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>





</div>







<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
<script src="../static/JS/index.js"></script>

</body>
</html>