.form-general{
    width: 30%;
    margin-left: 10%;
    margin-top: 50px;
    margin-bottom: 50px;
}


.add-medicine{
    margin-top: 50px;
}

#field{

    background-color: lightcyan;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

.center {
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
}

.warning{
    color: red;
}

.dp{
    margin-top: 4px;

}

.card{
    padding-left: 10px;
    padding-top: 5px;
}


a{
   font-weight: bold;
}

.navbar{
    border-style: solid;
    border-color: black;
    margin-top: -5px;
    margin-left: -5px;
    margin-right: -5px;
}

.log-out{
 margin-top: 10px;
}

.btn-info{
    background-color: #E98735;
    border-color: #E98735;
}